.row
  .small-12.medium-6.columns
    %h1 Spread the Word

    .panel
      %p
        Despite the never-ending suite of communication tools we have at our disposal, too many of us are far too quick to underestimate the power of our words –written, spoken, or otherwise communicated. Among their many superpowers, our words connect our friends and families (and their friends and families and their friends and families) to issues and ideas that they would never otherwise experience. And when enough people are talking and texting and tweeting about something it generates an undeniable buzz and that all but forces people to pay attention.
      %p
        It’s the power of the spreading the word.

      %p
        What do you want to spread the word about?
      .choices
        =form_for @spread_the_word, url: spread_the_word_path, method: :post do |form|
          =collection_select(:spread_the_word, :prefill_id, @prefills, :id, :title)
          =form.submit "Get Started"