.message
{
  width: auto;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
}
.phone
{
  background: #fff;
  padding: 60px 5px 50px 5px;
  width: 300px;
  max-width: 100%;
  margin: auto;
  height:620px;
  position: relative;
  border: 3px solid #333;
  border-radius: 30px;
  .messages
  {
    border: 1px solid #ccc;
    overflow: scroll;
    height: 450px;
    .question
    {
      text-align: right;
      padding: 10px;
      .message
      {
        background: #2095FE;
        border-bottom-right-radius: 0px;
        color: #fff;
      }
    }
    .answer
    {
      text-align: left;
      padding: 10px;
      .message
      {
        background: #E5E4E9;
        border-bottom-left-radius: 0px;
      }
    }
  }
  #compose-box
  {
    border: 1px solid #ccc;
    border-top: 0px;
    width: 100%;
    height: 2.5rem;
    background: #eee;
    padding: 4px 0px;
    input
    {
      width: 100%;
      margin: 0px;
      height: 2rem;
    }
    input[type="text"]
    {
      border-radius: 5px;
    }
    .button
    {
      padding: 5px;
      background: #eee;
      color: #2095FE;
      text-shadow: none;
      box-shadow: none;
    }
  }
  #home-button
  {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
}